
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20rem); }
    80% {
      transform: translateX(2rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(20rem); }
    80% {
      transform: translateX(-2rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } }
  
  *, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  
  html {
    font-size: 62.5%; }
    @media (min-width: 112.5em) {
      html {
        font-size: 75%; } }
    @media (max-width: 75em) {
      html {
        font-size: 56.25%; } }
    @media (max-width: 56.25em) {
      html {
        font-size: 50%; } }
    @media (max-width: 37.5em) {
      html {
        font-size: 50%; } }
  
  body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #777;
    line-height: 1.7;
    padding: 3rem; }
    @media (max-width: 56.25em) {
      body {
        padding: 0; } }
  
  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.2s ease-in-out;
    letter-spacing: 0.2rem; }
    @media (max-width: 56.25em) {
      .heading-secondary {
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .heading-secondary {
        font-size: 2.3rem; } }
    .heading-secondary:hover {
      transform: scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  
  .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  
  .paragraph {
    font-size: 1.6rem;
    font-weight: 400; }
    .paragraph:not(:last-child) {
      margin-bottom: 3rem; }
  
  ::selection {
    background-color: #28b485;
    color: #fff; }
  
  .text-center {
    text-align: center; }
  
  .mb-8 {
    margin-bottom: 8rem; }
  
  .mb-4 {
    margin-bottom: 4rem !important; }
  
  .mb-2 {
    margin-bottom: 2rem; }
  
  .btn, .btn:link, .btn:visited {
    padding: 1rem 4rem;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 10rem;
    border: none;
    transition: all 0.3s ease-in-out;
    animation: slideUp 1s ease-in-out;
    position: relative; }
    @media (max-width: 37.5em) {
      .btn, .btn:link, .btn:visited {
        padding: 1rem 3rem; } }
  
  .btn-white {
    background-color: #fff;
    color: #777; }
    .btn-white::after {
      background-color: #fff; }
  
  .btn-green {
    background-color: #55c57a;
    color: #fff; }
    .btn-green::after {
      background-color: #55c57a; }
  
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0; }
  
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
  .btn::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out; }
  
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid #55c57a;
    padding: 0.3rem;
    transition: all 0.3s; }
  
  .btn-text:hover, .btn-text:focus {
    color: #fff;
    border-radius: 3px;
    background-color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.2rem); }
  
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
  
  .composition {
    position: relative; }
    @media (max-width: 37.5em) {
      .composition {
        margin-top: 4rem; } }
    .composition-img {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 0.2rem;
      position: absolute;
      transition: all 0.2s ease-in-out;
      z-index: 10;
      outline-offset: 2rem; }
      .composition-img-1 {
        left: 0;
        top: -2rem; }
        @media (max-width: 37.5em) {
          .composition-img-1 {
            left: -10%; } }
      .composition-img-2 {
        right: 0;
        top: 2rem; }
        @media (max-width: 37.5em) {
          .composition-img-2 {
            right: 22%;
            top: 0; } }
      .composition-img-3 {
        left: 20%;
        top: 10rem; }
        @media (max-width: 37.5em) {
          .composition-img-3 {
            left: 56%;
            top: 2rem; } }
      .composition-img:hover {
        transform: scale(1.05);
        box-shadow: 0 2.5rem 4 rem rgba(0, 0, 0, 0.5);
        z-index: 20;
        outline: 1.5rem solid #55c57a; }
    .composition:hover .composition-img:not(:hover) {
      transform: scale(0.9); }
  
  .feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out; }
    .feature-box-icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      display: inline-block;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .feature-box:hover {
      transform: translateY(-1.5rem) scale(1.05); }
  
  .card {
    height: 53rem;
    position: relative; }
    .card-side {
      background-color: orange;
      height: 53rem;
      transition: all 1s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card-side-front {
        background-color: #fff; }
      .card-side-back {
        background-color: blueviolet;
        transform: perspective(150rem) rotateY(180deg); }
        .card-side-back-1 {
          background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
        .card-side-back-2 {
          background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
        .card-side-back-3 {
          background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card:hover .card-side-front {
      transform: perspective(150rem) rotateY(-180deg); }
    .card:hover .card-side-back {
      transform: perspective(150rem) rotateY(0deg); }
    .card-img {
      height: 23rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      background-size: cover; }
      .card-img-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/nat-5.jpg); }
      .card-img-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/nat-6.jpg); }
      .card-img-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/nat-7.jpg); }
    .card-heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #fff;
      position: absolute;
      top: 13rem;
      right: 2rem;
      width: 70%; }
      .card-heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; }
        .card-heading-span-1 {
          background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
        .card-heading-span-2 {
          background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
        .card-heading-span-3 {
          background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card-details {
      padding: 3rem; }
      .card-details ul {
        list-style: none;
        width: 70%;
        margin: 0 auto; }
        .card-details ul li {
          padding: 1rem; }
          .card-details ul li:not(:last-child) {
            border-bottom: 0.1rem solid #eee; }
    .card-cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center; }
    .card-prize {
      color: #fff;
      margin-bottom: 8rem; }
      .card-prize-only {
        text-transform: uppercase; }
      .card-prize-value {
        font-size: 6rem;
        font-weight: 100; }
  
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    overflow: hidden;
    z-index: -1; }
    .bg-video-content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  
  .story {
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 6rem;
    border-radius: 0.3rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transform: skewX(-14deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story {
        transform: skewX(0);
        width: 100%;
        padding: 2rem; } }
    .story > * {
      transform: skewX(14deg); }
      @media (max-width: 37.5em) {
        .story > * {
          transform: skewX(0); } }
    .story-shape {
      height: 15rem;
      width: 15rem;
      float: left;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      margin-right: 4rem;
      overflow: hidden; }
      @media (max-width: 37.5em) {
        .story-shape {
          float: none;
          margin: 0 auto 2rem; } }
    .story-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: scale(1.4);
      transition: all 0.5s; }
    .story-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 120%);
      color: #fff;
      font-size: 1.7rem;
      text-transform: uppercase;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      backface-visibility: hidden; }
    .story:hover .story-caption {
      transform: translate(-50%, -50%);
      opacity: 1; }
    .story:hover .story-img {
      transform: scale(1);
      filter: blur(3px) brightness(80%); }
    @media (max-width: 37.5em) {
      .story-details {
        text-align: center; } }
    @media (max-width: 37.5em) {
      .story-details p {
        text-align: justify; } }
  
  .form-group:not(:last-child) {
    margin-bottom: 2rem; }
  
  .form-control {
    width: 90%;
    display: block;
    padding: 1.5rem;
    color: inherit;
    font-family: inherit;
    border-radius: 0.2rem;
    border: none;
    border-bottom: .3rem solid transparent;
    outline: none;
    transition: all 0.3s; }
    @media (max-width: 37.5em) {
      .form-control {
        width: 100%; } }
    .form-control:focus {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 0.3rem solid #55c57a; }
    .form-control:focus:invalid {
      border-bottom: 0.3rem solid #ff7730; }
    .form-control::placeholder {
      color: rgba(119, 119, 119, 0.3); }
    .form-control::-webkit-input-placeholder {
      color: rgba(119, 119, 119, 0.3); }
  
  .form-label {
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    margin: .7rem 0 0 1.5rem;
    transition: all 0.4s; }
  
  .form-control:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  
  .form-radio-group {
    width: 49%;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .form-radio-group {
        width: 100%; }
        .form-radio-group:not(:last-child) {
          margin-bottom: 1.5rem; } }
  
  .form-radio-control {
    display: none; }
  
  .form-radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  
  .form-radio-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.5rem solid #55c57a;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.5rem; }
    .form-radio-btn::after {
      content: '';
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: #55c57a;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; }
  
  .form-radio-control:checked ~ .form-radio-label .form-radio-btn::after {
    opacity: 1; }
  
  .header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  
  .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .logo-box .logo {
      height: 3.5rem; }
  
  .header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center; }
  
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem; }
    .heading-primary-main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-in-out forwards; }
      @media (max-width: 37.5em) {
        .heading-primary-main {
          font-size: 3rem;
          letter-spacing: 1rem; } }
    .heading-primary-sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.8rem;
      animation: moveInRight 1s ease-in-out forwards; }
      @media (max-width: 37.5em) {
        .heading-primary-sub {
          font-size: 1.5rem;
          letter-spacing: 1rem; } }
  
  .footer {
    background-color: #333;
    padding: 10rem 0; }
    .footer-logo {
      width: 15rem; }
    .footer-navigation {
      list-style: none;
      display: inline-block;
      border-top: 0.1rem solid #777;
      padding-top: 2rem; }
      @media (max-width: 37.5em) {
        .footer-navigation {
          width: 100%;
          text-align: center; } }
    .footer-list {
      display: inline-block; }
      .footer-list:not(:last-child) {
        margin-right: 1.5rem; }
      .footer-list a:link, .footer-list a:visited {
        font-size: 1.4rem;
        color: #f7f7f7;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        transition: all .3s; }
      .footer-list a:hover, .footer-list a:focus {
        transform: scale(1.2);
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    .footer-copyright {
      border-top: 0.1rem solid #777;
      padding-top: 2rem;
      color: #f7f7f7;
      font-size: 1.4rem;
      width: 84%;
      margin-left: auto;
      text-align: justify; }
      @media (max-width: 37.5em) {
        .footer-copyright {
          width: 100%;
          text-align: center; } }
  
  .container {
    max-width: 114rem;
    margin: 0 auto; }
    @media (max-width: 56.25em) {
      .container {
        max-width: 80%; } }
  
  .row, .row::after, .row::before {
    width: 100%;
    display: table;
    clear: both; }
  
  div[class^="col"] {
    float: left;
    padding: 0 1.5rem; }
    @media (max-width: 37.5em) {
      div[class^="col"] {
        width: 100% !important; } }
    @media (max-width: 37.5em) {
      div[class^="col"] {
        margin-bottom: 2rem; } }
  
  .col-12 {
    width: 100%; }
  
  .col-9 {
    width: 75%; }
  
  .col-6 {
    width: 50%; }
  
  .col-4 {
    width: calc(100% / 3); }
  
  .col-3 {
    width: 25%; }
  
  .col-2 {
    width: calc(100% / 6); }
  
  .navigation-toggle {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 100;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center; }
  
  .navigation-icon {
    width: 3rem;
    height: 0.2rem;
    background-color: #333;
    display: inline-block;
    margin-top: calc(3.5rem - 0.1rem);
    position: relative; }
    .navigation-icon::after, .navigation-icon::before {
      content: '';
      width: 3rem;
      height: 0.2rem;
      position: absolute;
      background-color: #333;
      transition: all 0.3s ease-in-out; }
    .navigation-icon::after {
      top: 0.8rem;
      left: 0; }
    .navigation-icon::before {
      top: -0.8rem;
      left: 0; }
  
  .navigation-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: linear-gradient(#28b485, #7ed56f);
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    z-index: 50;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1); }
  
  .navigation-nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 0;
    height: 100vh;
    text-align: center;
    z-index: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.25, 1.5); }
  
  .navigation-list {
    list-style: none; }
  
  .navigation-item {
    margin: 1rem; }
  
  .navigation-link:link, .navigation-link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    border-radius: 0.5rem;
    color: #fff;
    padding: 1rem 2rem;
    background-image: linear-gradient(121deg, transparent 50%, white 50%);
    background-size: 250%;
    transition: all .5s ease-in-out; }
    @media (max-width: 37.5em) {
      .navigation-link:link, .navigation-link:visited {
        font-size: 2rem; } }
  
  .navigation-link:hover, .navigation-link:focus {
    background-position: 100%;
    color: #55c57a;
    font-weight: 700; }
  
  .navigation.active .navigation-background {
    transform: scale(60); }
  
  .navigation.active .navigation-nav {
    left: 0;
    width: 100vw;
    opacity: 1; }
  
  .navigation.active .navigation-icon {
    background-color: transparent; }
    .navigation.active .navigation-icon::after {
      top: 0;
      transform: rotate(135deg); }
    .navigation.active .navigation-icon::before {
      top: 0;
      transform: rotate(-135deg); }
  
  .section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh; }
    @media (max-width: 37.5em) {
      .section-about {
        margin-top: -35vh; } }
  
  .section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem; }
    .section-features > * {
      transform: skewY(7deg); }
    @media (max-width: 37.5em) {
      .section-features {
        margin-top: -4rem; } }
  
  .section-tours {
    padding: 25rem 0 15rem;
    background-color: #f7f7f7;
    margin-top: -10rem; }
  
  .section-stories {
    padding: 15rem 0;
    position: relative; }
  
  .section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  
  .book {
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/nat-10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
    @media (max-width: 37.5em) {
      .book {
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.7) 50%), url(../images/nat-10.jpg); } }
    .book-form {
      padding: 6rem 4rem; }
      @media (max-width: 37.5em) {
        .book-form {
          padding: 2rem 0;
          text-align: center; } }
  